<div ng-cloak>
    <div class="row">
        <div class="col-md-12" ng-switch="isAuthenticated()">
            <div class="row">
                <div class="col-md-3 col-md-offset-9 alert alert-success" ng-switch-when="true">
                    Iniciaste sesión como "{{account.login}}".
                </div>
            </div>
            <div class="row" ng-switch-when="true">
                <div class="col-md-3 col-md-offset-3">
                    <h1 class="header">Guías a Favor</h1>
                </div>
                <div class="col-md-3 icons" ng-click="guiasBovinos();">
                    <span class="bovino-icon img-responsive"></span>
                </div>
                <div class="col-md-3 icons" ng-click="guiasPorcinos();">
                    <span class="porcino-icon img-responsive"></span>
                </div>
            </div>
            <div class="row" data-ng-switch-when="true">
                <div class="col-md-3 col-md-offset-3">
                    <div ng-include src="'scripts/app/main/round-data.html'"></div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-9 alert alert-warning" ng-switch-when="false">
                ¿No tienes una cuenta aún? <a class="alert-link" href="#/register">Cree una cuenta.</a>
            </div>
            <div class="row" ng-switch-when="false">
                <div class="col-md-4 col-md-offset-4">
                    <span class="hipster img-responsive img-rounded"></span>
                </div>
            </div>
        </div>
    </div>
</div>
