<div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <h1>Restablecer contraseña</h1>

            <div class="alert alert-danger" ng-show="keyMissing">
                <strong>La llave para restablecer la contraseña es errada.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="success || keyMissing">
                <p>Elija una contraseña.</p>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <p>La contraseña no pudo ser restablecida. Recuerde que una solicitud para cambio de contraseña sólo es válida durante 24 horas.</p>
            </div>

            <div class="alert alert-success" ng-show="success">
                <p><strong>La contraseña ha sido restablecida.</strong> Por favor <a class="alert-link" href="#/login">inicie sesión</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
               La contraseña y su confirmación no coinciden!
            </div>

            <div ng-hide="keyMissing">
                <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()" show-validation>
                    <div class="form-group">
                        <label for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña"
                               ng-model="resetAccount.password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                La contraseña es requerida.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                La constraseña debe tener al menos 5 caracteres.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                                La contraseña no debe ser superior a 50 caracteres.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirme contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme nueva contraseña"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                La confirmación de la contraseña es requerida.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                 La confirmación de la constraseña debe tener al menos 5 caracteres.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                La confirmación de la contraseña no debe ser superior a 50 caracteres.
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Restablecer contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
