/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}


/* ==========================================================================
Developement Ribbon
========================================================================== */

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}


/* ==========================================================================
Version number in navbar
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc
}


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background-size: contain;
}

.pad {
    padding: 10px;
}


/* wait autoprefixer update to allow simple generation of high pixel density media query */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    .hipster {
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover,
#healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}


/*Custom alerts for notification*/

.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}


/* start Password strength bar style */

ul#strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}


/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}


/*Estilos CSS Andres*/

.navbar-default {
    background: #1a60a7;
}

.navbar-brand {
    background: url(../images/logo-ble.png) no-repeat center center;
    text-indent: -9999px;
    background-size: contain;
    margin: 6px 17px 0 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 21px 12px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background: #0c4988;
    color: #fff;
}

.jumbotron {
    background: url(../images/foto01.jpg) no-repeat;
    color: #fff;
}

.jumbotron h1 {
    text-shadow: 2px 3px 2px #666;
    -moz-text-shadow: 2px 3px 2px #666;
    -webkit-text-shadow: 2px 3px 2px #666;
    -o-text-shadow: 2px 3px 2px #666;
    -ms-text-shadow: 2px 3px 2px #666;
}

.btn-success {
    background-color: #9b2525;
    border-color: #9b2525;
}

.btn-success:hover {
    background-color: #1a60a7;
    border-color: #1a60a7;
}

h1.header {
    color: #1a60a7;
    margin: 0;
    border: none;
}

div.header {
    background: url(../images/banner003.jpg) no-repeat;
    padding: 0 0 75px 0;
    background-size: cover;
}

button[type="submit"],
a.btn-success {
    background-color: #1a60a7;
    border-color: #1a60a7;
    margin: 13px 0;
}

.modal-dialog {
    margin: 0 auto;
}


/*Dario's styles*/

.container {
    margin-top: 0%;
}

.header,
h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 35px;
    font-weight: bold;
    color: #092284;
}

.row .grid {
    width: 100%;
    height: 100%;
}

.grid .ui-grid-header-canvas {
    background-color: silver;
    border: 2px solid gray;
    border-radius: 3px;
    color: #10bed8;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    font-weight: bold;
    color: #092284;
}

.error-message.ng-active {
    background: #9B0000;
    color: #FFF;
    border-color: #AC2925;
    padding: 1px;
    border-radius: 5px;
    margin-top: 6px;
    position: relative;
}

.error-message.ng-active:after {
    position: absolute;
    top: -10px;
    content: "";
    left: 20px;
    border-style: solid;
    border-color: transparent transparent #8C001A;
    border-width: 5px;
}

.stylish-input-group .input-group-addon {
    background: linear-gradient(to bottom, #FD680E 0%, #FD680E 100%);
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
    color: #FFFFFF;
}

.required-field-block {
    position: relative;
}

.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    margin: 0em;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    background-color: red;
    position: absolute;
    content: "";
    right: 4px;
    top: 2px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: 0px 0 0 0px;
}

.customTooltip {
    background-color: red;
    color: #633;
    width: 12em;
    border: #ccc solid 0.1em;
    padding: 0.3em;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.3em #999
}

.required-text {
    color: #B80000;
}

.submit-top {
    top: -1vw;
}

.footer {
    text-align: center;
    font-weight: bold;
}

#myModal {
    top: 4%;
}

#myModal .modal-dialog .modal-content .modal-header {
    color: red;
    text-align: center;
    font-variant: small-caps;
    border-color: #269abc;
    height: 42px;
}

#myModal .modal-dialog .modal-content .modal-header .close {
    font-size: 30px;
    color: blue;
}

#myModal .modal-dialog .modal-content .modal-body {
    height: 500px;
}

hr {
    margin-top: 0px;
    border-color: transparent;
}

.ui-grid-vcenter {
    text-align: center;
    position: relative;
}


/*************ESTILOS GENERALES*************/

img {
    max-width: 100%;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background: #1a60a7;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e7e7e7;
}

#logo {
    display: block;
    margin: 8px 0;
}

header ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

header ul li a {
    color: #fff;
    padding: 25px 12px;
    display: block;
}

header ul li a:focus,
header ul li a:hover,
header ul li a.active {
    color: #fff;
    background: #0c4988;
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 110%;
}

.cont_bg {
    background: #f5f5f5;
    border: 1px solid #ccc;
    margin: 1% auto 0 auto;
    border-radius: 5px;
    height: 500px;
}

#login {
    position: relative;
    padding-bottom: 150px;
    max-height: 100%;
    background: url(../images/fondo-login.png) no-repeat center center;
    background-size: 100% 100%;
    margin-top: -2%;
    margin-left: -20%;
    margin-right: -20%;
}

#register form,
#login form {
    background: url(../images/px-transparent.png) repeat;
    padding: 3% 10%;
    margin: 15% 0 0 0;
    border-radius: 14px;
    box-shadow: 1px 1px 3px #666;
}

#register form h2,
#login form h2 {
    color: #1a60a7;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#register form label,
#login form label {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin: 12px 0;
}

#register form input[type="email"],
#register form input[type="password"],
#register form input[type="text"],
#register form input[type="number"],
#login form input[type="password"],
#login form input[type="text"] {
    top: 0% !important;
    max-width: 80% !important;
    width: 80% !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    padding: 10px !important;
    background: rgba(255, 255, 255, 0.51) !important;
    box-sizing: border-box !important;
    left: 20% !important;
}

#register form input[type="submit"],
#login form input[type="submit"] {
    display: block;
    background: #1a60a7;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 20px 0;
}

#register .alert,
#login .alert {
    margin-bottom: 8px;
}

body footer {
    position: fixed;
    background: #1a60a7;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer ul {
    text-align: center;
    padding: 5px 0;
}

footer ul li:first-child {
    border: none;
}

footer ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    border-left: 1px solid #fff;
    padding: 0 9px;
}


/*SECCION INICIO*/

#main2 {
    min-height: 100%;
    position: relative;
    margin-top: 30px;
}

#userzone {
    background: #f5f5f5;
    border: 1px solid #ccc;
    margin: -97px auto 0 auto;
    border-radius: 5px;
}

.user_account_home {
    top: 0px;
    font-size: 15px;
    color: #666;
    padding: 13px;
    text-align: center;
    z-index: 120;
}

.bg_out_login {
    position: relative;
    padding-bottom: 175px;
    max-height: 100%;
    background: url(../images/fondo-login.png) no-repeat center center;
    background-size: 100% 100%;
    margin-top: -8.5%;
    margin-left: -10%;
    margin-right: -10%;
    z-index: -1;
}

.bovino {
    text-align: center;
}

.bovino h3 {
    color: #1a60a7;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
}

.bovino p {
    margin: 3px 0;
}

.bovino img {
    max-width: 415px;
}

.bovino li {
    margin: 0 0 7px 0;
}

.bovino li span {
    max-width: 19%;
    width: 100%;
}

.bovino li span,
.bovino li div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.bovino li div {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 10px;
    max-width: 40%;
    width: 100%;
    color: #1a60a7;
    font-weight: bold;
    font-size: 19px;
    margin: 0 0 0 5%;
}

.porcinos {
    text-align: center;
}

.porcinos h3 {
    color: #9d0000;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
}

.porcinos p {
    margin: 3px 0;
}

.porcinos img {
    max-width: 415px;
}

.porcinos li {
    margin: 0 0 7px 0;
}

.porcinos li span {
    max-width: 19%;
    width: 100%;
}

.porcinos li span,
.porcinos li div {
    display: none;
    *zoom: 1;
    vertical-align: middle;
}

.porcinos li div {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 10px;
    max-width: 40%;
    width: 100%;
    color: #9d0000;
    font-weight: bold;
    font-size: 19px;
    margin: 0 0 0 5%;
}

.reporters h4 {
    color: #1a60a7;
    font-size: 30px;
    text-align: center;
    margin: 35px 0;
    background: url(../images/px-blue.jpg) repeat-x center center;
}

.reporters h4 span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #f5f5f5;
    padding: 0 20px;
}

.reporters a {
    display: block;
    border-radius: 100px;
    text-align: center;
    padding: 35px 20px;
    max-width: 193px;
    max-height: 193px;
    height: 100%;
    margin: 0 0 40px 0;
    transition: all 0.5s;
}

.reporters a:hover {
    text-decoration: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.reporters a img {
    max-width: 104px;
}

.reporters a span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    min-height: 51px;
    height: 100%;
}

.blue {
    background: #1a60a7;
}

.red {
    background: #9c0000;
}

.gray {
    background: #555555;
}


/*SECCION INTERNA*/

#userint {
    background: #f5f5f5;
    border: 1px solid #ccc;
    margin: 1% auto 0 auto;
    border-radius: 5px;
}

.banner {
    background: url(../images/intranet-banner.jpg) no-repeat left top;
    background-size: 100% 100%;
    margin-left: -9%;
    margin-right: -7%;
}

.banner h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    padding: 60px 0;
    margin-top: -30px;
}

.menutop {
    padding: 20px 0;
}

.menutop li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 0 18px 0 0;
}

.menutop li select,
.menutop li input[type="text"] {
    max-width: 60%;
}

.menutop li .breport {
    background: #449d44;
    padding: 6px 14px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
}

.menutop li .breport:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    text-decoration: none;
}

.menutop li .bcancel {
    background: #d9534f;
    padding: 6px 14px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
}

.menutop li .bcancel:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    text-decoration: none;
}

@media screen and (max-width: 380px) {
    .porcinos h3 {
        font-size: 20px;
    }
    .bovino li span,
    .bovino li div,
    .porcinos li span,
    .porcinos li div {
        display: block;
        max-width: 100%;
    }
    .reporters a img {
        max-width: 67px;
    }
    .reporters a span {
        font-size: 11px;
    }
    .reporters a {
        max-width: 100%;
        max-height: 145px;
        margin: 0 0 19px 0;
    }
}
