body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/foto01.jpg") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}
/*Custom alerts for notification*/
.alerts .alert{
    text-overflow: ellipsis;
}

.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/*Estilos CSS Andres*/
.navbar-default{background: #1a60a7;}
.navbar-brand{    background: url(../images/logo-ble.png) no-repeat center center; text-indent: -9999px; background-size: contain; margin: 6px 17px 0 0;}  
.navbar-default .navbar-nav > li > a{color: #fff;padding: 21px 12px;}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover{background: #0c4988;color: #fff;}
.jumbotron{background: url(../images/foto01.jpg) no-repeat;color: #fff;}
.jumbotron h1{text-shadow: 2px 3px 2px #666;-moz-text-shadow: 2px 3px 2px #666;-webkit-text-shadow: 2px 3px 2px #666;-o-text-shadow: 2px 3px 2px #666;-ms-text-shadow: 2px 3px 2px #666;}
.btn-success{background-color: #9b2525; border-color: #9b2525; }
.btn-success:hover {background-color: #1a60a7; border-color: #1a60a7; }
h1.header{color: #1a60a7;margin: 0;border: none;}
div.header{background: url(../images/banner003.jpg) no-repeat;padding: 0 0 75px 0;background-size: cover;}
button[type="submit"],a.btn-success{background-color: #1a60a7;border-color: #1a60a7;margin: 13px 0;}
.modal-dialog{margin: 0 auto;}


/*Dario's styles*/
.header, h1{
    text-align: center;
    font-variant: small-caps;
    font-size: 35px;
    font-weight: bold;
    color: #092284;
}

.row .grid {
  width: 100%;
  height: 100%;
}

.grid .ui-grid-header-canvas{
    background-color: silver;
    border: 2px solid gray;
    border-radius: 3px;
    color: #10bed8;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #092284;
}

.error-message.ng-active {
    background: #9B0000;
    color: #FFF;
    border-color: #AC2925;
    padding: 1px;
    border-radius: 5px;
    margin-top: 6px;
    position: relative;
}

.error-message.ng-active:after {
    position: absolute;
    top: -10px;
    content: "";
    left: 20px;
    border-style: solid;
    border-color: transparent transparent #8C001A;
    border-width: 5px;
}

.stylish-input-group .input-group-addon {
    background: linear-gradient(to bottom, #FD680E 0%, #FD680E 100%);
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
    color: #FFFFFF;
}

.required-field-block {
    position: relative;
}

.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    margin: 0em;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    background-color: red;
    position: absolute;
    content: "";
    right: 4px;
    top: 2px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: 0px 0 0 0px;
}

.customTooltip {
    background-color: red;
    color: #633;
    width: 12em;
    border: #ccc solid 0.1em;
    padding: 0.3em;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.3em #999
}

.required-text {
    color: #B80000;
}

.icons{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 3px solid #4A508A;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 6px;
    position: relative;    
}

.icons:hover{
    background-color: #B0AFAF; 
}

.icons-active {
    background-color: transparent;
}

.icons .bovino-icon {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 30px;
    height: 30px;
    background: url("../images/bovino-icon.png") no-repeat;
    background-size: contain;
}

.icons .porcino-icon {
    position: absolute;
    top: 15%;
    left: 15%;    
    width: 30px;
    height: 30px;
    background: url("../images/porcino-icon.png") no-repeat;
    background-size: contain;
}
