<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Ingresar</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Error al iniciar sesión!</strong> Por favor verifique sus credenciales y vuelva a intentarlo.
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form class="form" role="form" ng-submit="login($event)">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" id="username" placeholder="Usuario" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password">Constraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Constraseña"
                           ng-model="password">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="#/reset/request">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="alert alert-warning">
                ¿No tienes una cuenta todavía? <a class="alert-link" href="#/register">Registrar una nueva cuenta</a>
            </div>
        </div>
    </div>
</div>
