<div id="login">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="alert alert-danger" ng-show="authenticationError"><strong>Error al iniciar sesión!</strong> Por favor verifique sus credenciales y vuelva a intentarlo.</div>
            <form role="form" ng-submit="login($event)">
                <h2>Ingresar</h2>
                <label for="username">Usuario</label>
                <input type="number" id="username" placeholder="Cédula o NIT" ng-model="username">
                <label for="password">Constraseña</label>
                <input type="password" id="password" placeholder="Constraseña" ng-model="password">
                <input type="submit" value="Ingresar"  ng-disabled="isDisabled">
                <div class="alert alert-warning" role="alert"><a class="alert-link" href="#/reset/request">¿Olvidaste tu contraseña?</a></div>
                <div class="alert alert-warning" role="alert">¿No tienes una cuenta todavía? <a class="alert-link" href="#/register">Registrar una nueva cuenta</a></div>
            </form>
        </div>
    </div>
</div>
